/* Import Bulma Utilities */
@import 'bulma/sass/utilities/initial-variables';
@import 'bulma/sass/utilities/functions';

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');
// Update Bulma's global variables
$family-sans-serif: 'Inter', sans-serif;

$primary: #128408;
$secondary: #00aaff;

$custom-colors: (
  'secondary': $secondary,
);

$body-background-color: $white-bis;

@import 'bulma/sass/utilities/mixins';
